* {
    margin: 0;
    box-sizing: border-box;


}

#page-wrapper {
    width: 80vw;

    margin: auto;

    font-family: Georgia, serif;
    font-size: calc(2px + 2vh);
}

header, footer {
    background-color: #BFC9D1;
    padding: 1%;
}

#nav-main {
    display: flex;
    flex-direction: row;
}

nav {
    width: 30%;

    border: 2px solid #25343F;
    background-color: #FF9B51;

}

nav ul {
    height: 75vh;

    list-style: none;
    padding-left: 0;

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

}

nav li {
    background-color: white;
    padding: 5%;
}

nav a {
    color: black;
    text-decoration: none;

}

/* pseudo-class selector, activate when element is being hovered over by the mouse */
nav a:hover {
    background-color: #25343F;
    color: #EAEFEF;
}

/* calculator */
#calculator {
    margin: 5%;
    padding: 5%;

    border: 7px solid grey;
    background-color: lightgray;

    font-family: "Comic Sans MS", sans-serif;
}

#calculator h2 {
    margin-bottom: 2%;
}

#inputs {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

input {
    text-align: center;
}

#buttons {
    width: 100%;

    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;

    padding: 5%;
}

#buttons1, #buttons2 {
    width: 50%;

    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
}

button {
    margin: 1%;
    padding: 5%;

    font-size: calc(10px + 1vh);
}

#output {
    width: 60%;

    margin: auto;

    padding: 5%;

    background-color: white;
    border: 7px solid darkgrey;
}


main {
    width: 70%;


    background-color: #EAEFEF;
    padding: 5%;

    margin: auto;
    text-align: center;
}

main h2 {
    padding: 3%;
    text-decoration: underline;
}

main img {
    border: 6px solid #25343F;

}

main ul {
    padding-left: 0;
    list-style: none;
}

main li {
    padding: 5%;
}

main p {
    width: 75%;

    margin: 5% auto;
    text-align: center;

    padding: 1%;
}

footer {

}

/* for screens smaller than 750px */
@media screen and (max-width: 749px) {

    #page-wrapper {
        font-size: calc(2px + 1vh);

    }

    /* calculator stuff */
    #inputs {
        flex-direction: column;
    }

    input {
        width: 50%;

        margin: auto;
    }

    #buttons {
        width: 50%;
        margin: auto;

    }

    #buttons1, #buttons2 {
        flex-direction: column;
    }



    /* return to single column layout for #nav-main */
    main,
    nav {
        width: 100%;
    }

    #nav-main {
        flex-direction: column;
    }

    nav {
        height: 7vh;

        border: 2px solid red;
    }

    nav ul{
        height: 100%;

        flex-direction: row;
    }

    nav li {
        padding: 1%;

    }
}