* {
    margin: 0;
    box-sizing: border-box;
}

#page-wrapper {
    width: 80vw;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: Georgia, serif;
    font-size: calc(2px + 2vh);
}

header, nav, main, footer {
    border: 2px solid #25343F;
}

header, footer {
    background-color: #BFC9D1;
    padding: 3%;
}

#nav-main {
    display: flex;
    flex-direction: row;
}

nav {
    width: 30%;
    border: 2px solid #25343F;
    background-color: #FF9B51;
}

nav ul {
    height: 75vh;
    width: 50%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    list-style: none;
    padding-left: 0;
}

nav a {
    padding: 5%;

    color: black;
    background-color: white;
    border: 2px solid #25343F;
    border-radius: 10px;

    text-decoration: none;
}

/* pseudo-class selector, activates when element is being hovered over by the mouse */
nav a:hover {
    background-color: #25343F;
    color: #EAEFEF;
}

main {
    width: 70%;

    background-color: #EAEFEF;
    padding: 5%;

    margin: auto;
    text-align: center;
}

main h2 {
    padding: 3%;
    text-decoration: underline;
}

main img {
    border: 6px solid #25343F;
    max-width: 80%;
}

main ul {
    padding-left: 0;
    list-style: none;
}

main li {
    padding: 3%;
}

main p {
    width: 50%;

    margin: 5% auto;
    text-align: center;

    padding: 2%;
}

main h3{
    text-decoration: underline;
}

#main-content {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* whitespace and main content overflow fixes */
/* IDs that do not have enough content to fill the whitespace */
#education-main,
#organizations-main
{
    height: 85vh;
}

/* home image and welcome paragraph */
#img-p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* CALCULATOR IN PROJECTS PAGE */
#calculator {
    width: 75%;

    margin: 5% auto;
    padding: 5%;

    border: 7px solid grey;
    background-color: lightgray;

    font-family: "Comic Sans MS", sans-serif;
}
#calculator h2 {
    margin-bottom: 2%;
}
#inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
input {
    text-align: center;
    width: 50%;
    padding: 2%;
}
#buttons {
    width: 100%;
    padding: 5%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#buttons1, #buttons2 {
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
button {
    width: 50%;
    height: 50%;

    margin: 1%;
    padding: 5%;

    font-size: calc(10px + 1vh);
}
#output {
    width: 60%;

    margin: auto;
    padding: 5%;

    background-color: white;
    border: 7px solid darkgrey;
}

/* MEDIA QUERIES */
/* screens smaller than 1200px */
@media screen and (max-width: 1200px) {
    nav ul {
        width: 80%;
    }
    main p {
        width: 80%;
    }
    #img-p{
        flex-direction: column;
    }
    #inputs {
        flex-direction: column;
    }
    input {
        /* grows from 50 to 60 */
        width: 60%;
    }
    #buttons1, #buttons2 {
        flex-direction: column;
    }
}


/* for screens smaller than 750px */
@media screen and (max-width: 750px) {
    #page-wrapper {
        font-size: calc(2px + 1vh);
    }
    header, footer {
        padding: 5%;
    }
    /* return to single column layout for #nav-main */
    nav,
    main {
        width: 100%;
    }
    #nav-main {
        flex-direction: column;
    }

    nav {
        padding: 3%;
    }

    nav ul{
        height: 100%;
        width: 100%;

        flex-direction: row;
    }
    nav a {
        border-radius: 0;
    }

    /* whitespace and main content overflow fixes */
    /* IDs that do not have enough content to fill the whitespace */
    #index-main,
    #education-main,
    #experiences-main,
    #skills-main,
    #organizations-main
    {
        height: 80vh;
    }

    /* Organizations has little content */
    /* add more margin to decrease empty space */
    #organizations-main .main-list li {
        margin: 10%;
    }
}